@model CoursesViewModel
@{
	// Pagination settings
	int itemsPerPage = 9; // Number of items to display per page
	int totalItems = 40; // Model.CourseModels.Count; // Total number of items
	int totalPages = (int)Math.Ceiling((double)totalItems / itemsPerPage); // Total number of pages
	int currentPage = 1;//Request.Query.ContainsKey("page") ? Convert.ToInt32(Request.Query["page"]) : 1; 
	int startIndex = (currentPage - 1) * itemsPerPage; // Start index of items for the current page
	int endIndex = Math.Min(startIndex + itemsPerPage - 1, totalItems - 1); // End index of items for the current page

	var controller = Context.Items["BreadcrumbController"]?.ToString();
	var action = Context.Items["BreadcrumbAction"]?.ToString();
}

<section id="courses">
    <div class="container">
        
		<nav class="breadcrumb">
				<a href="/"><i class="fa-sharp fa-regular fa-house"></i>  Home</a>
				<i class="fa-light fa-angles-right"></i>
				@if (!string.IsNullOrEmpty(controller))
				{
				<a class="active" href="@Url.Action("Index", controller)">@controller</a>
				}
		</nav>
		
		<div class="heading">
            <h2 class="title">@Model.Title</h2> 
            <div class="tool-bar">
                <div class="inputgroup">
                    <select asp-for="@Model.SelectedCategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                        <option value="">All categories</option>
                    </select>
                    <i class="fa-regular fa-chevron-down"></i>
                </div>
                <div class="inputgroup">
                    <input type="text" id="searchInput" asp-for="@Model.SearchQuery" placeholder="Search courses...">
                    <i class="fa-regular fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
		
		<partial name="~/Views/Shared/Sections/_StatusMessage.cshtml" />
		
		<div class="content-contaier">
            <partial name="~/Views/Shared/Sections/_CoursePartial.cshtml" />
		</div>

		<nav aria-label="Page navigation">
			<ul class="pagination">

				<!-- Left arrow icon -->
				<li class="page-item @(currentPage == 1 ? "disabled" : "")">
					<a class="page-link" href="?page=@(currentPage - 1)" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				
				@for (int i = 1; i <= 3; i++)
				{
					<li class="page-item @(i == 1 ? "active" : "")">
						<a class="page-link" href="?page=@i">@i</a>
					</li>
				}

				<!-- Right arrow icon -->
				<li class="page-item @(currentPage == totalPages ? "disabled" : "")">
					<a class="page-link" href="?page=@(currentPage + 1)" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>

		<div class="work-with-us">
			<div class="banner-content">
				<h5>Ready to get started?</h5>
				<h1>Take Your <span>Skills</span> to the Next Level</h1>
				<button class="btn-theme-s" asp-controller="Vacancy" asp-action="Index">Work with us</button>
			</div>
			<img src="~/images/courses/illustration.svg"/>
		</div>
    </div>
</section>